<div class="container">
  <div class="logo-section">
    <span class="pi pi-prime" style="font-size: 2rem"></span>
    <span class="text-fishmart">FishMart</span>
  </div>
  <div class="header-menu">
    <span class="menu-item active">Home</span>
    <span class="menu-item">Shop</span>
    <span class="menu-item">About Us</span>
    <span class="menu-item">Contact Us</span>
    <span class="menu-item">Blog</span>
  </div>
  <div class="user-section">
    <span class="pi pi-shopping-cart" style="font-size: 1.5rem"></span>
    <span class="pi pi-bell" style="font-size: 1.5rem"></span>
    <span class="user-name">Amanda Green</span>
    <span class="pi pi-user" style="font-size: 1.5rem"></span>
    <span class="pi pi-chevron-down" style="font-size: 1rem"></span>
  </div>
</div>
