<div class="container">
  <div class="logo-section">
    <span class="pi pi-prime" style="font-size: 2rem"></span>
    <span class="text-fishmart">FishMart</span>
  </div>
  <div class="header-menu">
    <span class="menu-item active">Home</span>
    <span class="menu-item">Shop</span>
    <span class="menu-item">About Us</span>
    <span class="menu-item">Contact Us</span>
    <span class="menu-item">Blog</span>
  </div>
  <div class="user-section">
    <span class="pi pi-shopping-cart" style="font-size: 1.5rem"></span>
    <span class="pi pi-bell" style="font-size: 1.5rem"></span>

    <!-- Display User Name if Logged In -->
    <ng-container *ngIf="isLoggedIn(); else loggedOut">
      <span class="user-name">{{ getUserName() }}</span>
      <button (click)="logout()" class="btn">Logout</button>
    </ng-container>
    <ng-template #loggedOut>
      <button (click)="login()" class="btn">Login</button>
      <button (click)="signUp()" class="btn">Sign Up</button>
    </ng-template>
  </div>
</div>
