<form [formGroup]="productForm" (ngSubmit)="onSubmit()" class="create-product-form">
  <h2>Create Product</h2>

  <div class="form-group full-width">
    <input id="name" formControlName="name" placeholder="Product Name" required>
  </div>

  <div class="form-row">
    <label for="price">
    <div class="form-group">
      Price
      <input id="price" type="number" formControlName="price" placeholder="Price" required>
    </div>
  </label>
  <label for="weigh">
    Weigh
    <div class="form-group">
      <input id="weight" type="number" formControlName="weight" placeholder="Weight" required>
    </div>
  </label>
  <label for="stock">
    Stock
    <div class="form-group">
      <input id="stock" type="number" formControlName="stock" placeholder="Stock" required>
    </div>
  </label>
  </div>

  <div class="form-group full-width">
    <textarea id="description" formControlName="description" placeholder="Product description..."></textarea>
  </div>

  <div class="form-group full-width">
    <div class="image-upload-area">
      <i class="fas fa-file-image"></i>
      <p>Drop or select images</p>
    </div>
  </div>


    <div class="form-group">
      <select id="category"  formControlName="category" required>
        <option *ngFor="let cat of categories" [ngValue]="cat">{{ cat.icon }} {{ cat.name }}</option>
      </select>
    </div>


  <div id="available" class="form-group">
    <label for="available">
      Available
      <input id="available" type="checkbox" formControlName="available">
    </label>
  </div>

  <button type="submit" [disabled]="productForm.invalid" class="submit-button">Add Product</button>
</form>


