<div class="country-sidebar">
  <div class="country-header" (click)="toggleCountries()">
    <h3>Country Of Origin</h3>
    <i class="pi" [ngClass]="{'pi-chevron-down': !isCountriesVisible, 'pi-chevron-up': isCountriesVisible}"></i>
  </div>
  <div class="country-content" [ngClass]="{'expanded': isCountriesVisible}">
    <div *ngFor="let country of countries" class="field-checkbox">
      <p-checkbox
        [(ngModel)]="selectedCountries"
        [label]="country"
        name="countryGroup"
        [value]="country">
      </p-checkbox>
    </div>
  </div>
</div>
