<div class="department-sidebar">
  <div class="department-header">
    <h3>Departments</h3>
  </div>

  <div *ngFor="let department of departments"
       class="department-item"
       (mouseenter)="onHoverDepartment(department.id)"
       (mouseleave)="onLeaveDepartment()"
       (click)="onClickDepartment(department.id)">
    {{ department.name }}
  </div>

  <div *ngIf="loading">Loading departments...</div>
  <div *ngIf="loadingCategories">Loading categories...</div>
  <div *ngIf="error" class="error">{{ error }}</div>

  <div class="category-list" *ngIf="categories.length > 0">
    <h4>Select a Category:</h4>
    <ul>
      <li *ngFor="let category of categories"
          class="category-item"
          (click)="onSelectCategory(category.id)">
        {{ category.name }}
      </li>
    </ul>
  </div>
</div>
