<div class="department-sidebar">
  <div class="department-header" (click)="toggleDepartments()">
    <h3>Departments</h3>
    <i class="pi" [ngClass]="{'pi-chevron-down': !isExpanded, 'pi-chevron-up': isExpanded}"></i>
  </div>
  <div class="department-content" [ngClass]="{'expanded': isExpanded}">
    <div *ngFor="let department of departments" class="field-checkbox">
      <p-checkbox
        [(ngModel)]="selectedDepartments"
        [label]="department"
        name="departmentGroup"
        [value]="department">
      </p-checkbox>
    </div>
  </div>
</div>
