<div class="category-sidebar">
  <div class="category-header" (click)="toggleCategories()">
    <h3>Category</h3>
    <i class="pi" [ngClass]="{'pi-chevron-down': !isExpanded, 'pi-chevron-up': isExpanded}"></i>
  </div>
  <div class="category-content" [ngClass]="{'expanded': isExpanded}">
    <div *ngFor="let category of categories" class="field-checkbox">
      <p-checkbox
        [(ngModel)]="selectedCategories"
        [label]="category"
        name="categoryGroup"
        [value]="category">
      </p-checkbox>
    </div>
  </div>
</div>
