.field-checkbox {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.field-checkbox p-checkbox {
  margin-right: 8px;
}



h3 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 16px;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  font-size: 14px;
  color: #333;
  margin-bottom: 4px;
}
