<div *ngIf="filteredProducts.length > 0; else noProducts" class="product-grid">
  <div *ngFor="let product of filteredProducts" class="product-card">
    <div class="product-image">
      <a [routerLink]="['/product', product.id]">
        <img [src]="product.imagePath || 'assets/images/default-fish.jpg'" [alt]="product.name" class="product-img">
      </a>
    </div>
    <div class="product-info">
      <h3 class="product-name">{{ product.name }}</h3>
      <p class="product-description">{{ product.description }}</p>
      <div class="price-action">
        <span class="price">${{ product.price.toFixed(2) }}</span>
        <button (click)="toggleBasket(product)">
          {{ cartService.isProductInCart(product.id) ? '-' : '+' }}
        </button>
      </div>
    </div>
  </div>
</div>

<ng-template #noProducts>
  <div class="no-products">
    <p>No products available.</p>
  </div>
</ng-template>
